body{
    margin : 0;
    font-size: 2em;
}
h1, p{
    margin: 0;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    font-size: 0;
}
.item{
    display: inline-block;
    padding: 5%;
    width: 100%; /* 부모기준 100% */
    font-size: 1rem; /* em: 배, rem: 루트배*/
}
.item_1{
    width: 30%;
    background-color: rgb(224, 207, 185);
}
.item_2{
    width: 50%;
    background-color: rgb(200, 240, 241);
}